body{
    background-image: url(./image/bg.jpg);
    background-size: 100%;
}
index{
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: lighter;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 10%;
}
download{
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: lighter;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 6%;
}
chat{
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: lighter;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;}
    index:hover {
        font-weight:bold;
        color:rgb(255, 255, 255);
        box-shadow: 0px 2px rgb(255, 255, 255);}
    download:hover {
        font-weight:bold;
        color:rgb(255, 255, 255);
        box-shadow: 0px 2px rgb(255, 255, 255);}
    chat:hover {
        font-weight:bold;
        color:rgb(255, 255, 255);
        box-shadow: 0px 2px rgb(255, 255, 255);
}      
.header {
    background-color: #0787ff;
}
.id{size: 50;}